---
interface Props {
  title?: string;
  className?: string;
}

const { title, className = "" } = Astro.props;
---

<div class={`pixel-border bg-game-bg p-4 sm:p-6 relative ${className}`}>
  {
    title && (
      <div class="bg-game-bg text-game-primary absolute -top-4 left-4 px-2 text-xs uppercase sm:text-sm">
        [{title}]
      </div>
    )
  }
  <div class="text-xs leading-loose sm:text-sm">
    <slot />
  </div>
</div>
