---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { title = "abx@portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="flex min-h-screen flex-col antialiased text-white">
    <Header />

    <main class="flex-1">
      <slot />

    </main>

    <Footer />
  </body>
</html>
